*.bak
config/.java/
config/copy_reference_file.log
config/logs/
config/war
config/cache
config/updates/
config/userContent
config/tools
config/jenkins.model.DownloadSettings.xml
config/jenkins.security.QueueItemAuthenticatorConfiguration.xml
config/org.jenkinsci.plugins.workflow.flow.FlowExecutionList.xml
config/queue.xml
config/jobs/*/builds
config/jobs/*/lastStable
config/jobs/*/lastSuccessful
config/jobs/*/nextBuildNumber
config/plugins/*
!config/plugins/*.jpi
config/jenkins.security.RekeySecretAdminMonitor/needed
