# Copy this file to `terraform.tfvars` (without `.dist` in the end)
# Next, replace empty strings with AWS API Key
aws_access_key = ""
aws_secret_key = ""

vsphere_user = ""
vsphere_password = ""
vsphere_server = ""

dnsimple_token = "x"
dnsimple_account = "70480"
dnsimple_domain = "ipfs.team"
dnsimple_subdomain = "ci"

# Credentials
jenkins_master_auth_client_id = ""
jenkins_master_auth_client_secret = ""
jenkins_master_immutablejenkins_auth_token = ""
jenkins_master_github_webhook_secret = ""

# Windows Admin Password (has to complex otherwise user_data won't init! )
windows_admin_password = "helloworld123!"

# Jenkins Swarm
swarm_version = "3.7"

# Jenkins
jenkins_master = "https://jenkinsci.ngrok.io/"
jenkins_username = "admin"
jenkins_password = "admin"
# Format: host:port
jenkins_worker_tunnel = "0.tcp.ngrok.io:13228"

# Linux
linux_ami = "ami-2757f631"
linux_type = "m3.large"
linux_count = 1
linux_jenkins_worker_labels = "linux"
linux_jenkins_worker_name = "aws-linux"
linux_jenkins_worker_fsroot = "/tmp/jenkins"

# Windows
windows_ami = "ami-5648ad2c"
windows_type = "m3.large"
windows_count = 1
windows_jenkins_worker_labels = "windows"
windows_jenkins_worker_name = "aws-windows"
# escaping with \ because of Terraform
windows_jenkins_worker_fsroot = "c:\\jenkins"
