<?xml version='1.0' encoding='UTF-8'?>
<slave>
  <name>linux-01</name>
  <description></description>
  <remoteFS>/tmp/jenkins</remoteFS>
  <numExecutors>8</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.13">
    <host>136.243.83.25</host>
    <port>22</port>
    <credentialsId>abf1a3e4-9b84-4eff-a44e-fabf9b2ab999</credentialsId>
    <maxNumRetries>0</maxNumRetries>
    <retryWaitTime>0</retryWaitTime>
  </launcher>
  <label>linux</label>
  <nodeProperties/>
</slave>
