<?xml version='1.0' encoding='UTF-8'?>
<slave>
  <name>linux-01</name>
  <description></description>
  <remoteFS>/tmp/jenkins</remoteFS>
  <numExecutors>4</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.13">
    <host>136.243.83.25</host>
    <port>22</port>
    <credentialsId>c1a67414-92b7-402e-b376-05aa431fa3a8</credentialsId>
    <maxNumRetries>0</maxNumRetries>
    <retryWaitTime>0</retryWaitTime>
  </launcher>
  <label>linux</label>
  <nodeProperties/>
</slave>