<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.11.2">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.25">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers/>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.39">
    <script>node {
    stage(&quot;Prepare&quot;) {
        sh &quot;echo hello &gt; file&quot;
        sh &quot;echo &apos;FROM busybox\nCOPY file /hello&apos; &gt; Dockerfile&quot;
    }
    stage(&quot;Build&quot;) {
        sh &quot;docker build -t ipfs/dind-test .&quot;
    }
    stage(&quot;Test&quot;) {
        sh &quot;docker run ipfs/dind-test cat /hello&quot;
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>